.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.socialIcons a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color2);
  transition: 0.3s all ease;
}

.socialIcons a:hover {
  text-decoration: none;
  color: var(--color_light);
  transition: 0.3s all ease;
}
