.name {
  font-size: 2.8rem;
  letter-spacing: 10px;
  padding-top: 10px;
  padding-bottom: 15px;
  color: var(--color2);
}

.text {
  display: block;
  font-size: 1.4rem;
  color: var(--color_light);
  letter-spacing: 10px;
  padding-bottom: 5px !important;
}

.text a {
  text-decoration: none;
  color: var(--color2);
}
