.socialIcons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 15px;
}

.socialIcons a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--color_orange);
  transition: 0.3s all ease;
}

.socialIcons a:hover {
  text-decoration: none;
  color: var(--color_light);
  transition: 0.3s all ease;
}
